{% extends "default.html" %}
{% block title %}Add a Beer{% endblock %}
{% block content %}
  <h2>Add a Beer</h2>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <form action="/beer/add/" method="POST">
    {% csrf_token %}
    <fieldset>
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
    <p>
      {{ field.errors }}
      {{ field.label_tag }}<br/>
      {{ field }}
    </p>
    {% endfor %}
    <p><button type="submit"/>Submit Beer</button></p>
    </fieldset>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/beer.js"></script>
{% endblock %}